.friend-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.friend-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.friend-card div {
  flex-grow: 1;
}

.friend-card h3 {
  margin: 0 0 5px;
}

.friend-card p {
  margin: 0;
}
.friend-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.friend-card:hover {
  background-color: #a3ebb1;
}
