.friend-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.friend-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  margin-bottom: 20px;
}

.friend-card:hover {
  background-color: #a3ebb1;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin-right: 10px;
  background-color: #a3ebb1;
  border: 1px solid #000;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.pagination button:hover {
  color: #000;
}
